:root{
    --yellow: #FFC400;
    --font-color: #ffffff;
    --primary-bg-color: #181A23;
    --primary-blog-color: #212431;
    --secondary-blog-color: #1D1F2A;
 }
 *{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
 }
 nav{
    background-color: var(--yellow);
    height: 7em;
 }
 nav > h1{
    font-weight: bold;
    translate: .5em .5em;
    font-size: 2em;
 }
 nav > ul{
    padding: .5em;
    padding-top: 1em;
    translate: 0 1em;
    display: flex;
    justify-content: space-evenly;
 }
 nav > ul > li{
    display: inline;
    display: flexbox;
 }
 nav > ul > li:hover{
   text-decoration: underline;
 }
 section:nth-of-type(1){
    /* background-color: var(--primary-bg-color); */
    background-image: linear-gradient(
     var(--primary-bg-color) 98%,
     var(--primary-blog-color) 2%);
    padding: 1em 1em;
 }
 section:nth-of-type(1) > p{
   padding: 2em 0;
 }
 p{
    color: var(--font-color);
 }
 section:nth-of-type(2){
    background-color: var(--primary-bg-color);
    height: auto;
 }
 .carousel{
   display: flex;
   overflow: auto;
   width: auto;
   height: 72vh;
 }
 .blog{
    height: 30vh;
    width: auto;
    background-color: var(--primary-blog-color);
    border-radius: 1em;
    color: var(--font-color);
    padding: 2em;
    margin: 1em;
    translate: 0em em;
   list-style: none;
   scroll-snap-align: center;
   flex-grow: 0;
   flex-shrink: 0;
   flex-basis: 76%;
 }
 /* positie van items in de blog */
 .blog > h2{
   padding-top: 1em;
 }
 .blog > p{
   padding-top: 1em;
   padding-bottom: 2em;
 }
 small{
   opacity: .5;
}
/* ---------------------- */
 .carousel-a{
   display: flex;
   scroll-snap-type: x mandatory;
   overflow: auto;
   align-items: center;
   scrollbar-width: none;
 }
 .carousel-a::-webkit-scrollbar { 
   display: none; }
 /* footer styling */
 footer{
    background-color: var(--primary-blog-color)
 }
 footer > p{
    padding: 1em;
    font-size: 14px;
 }

 /* filter-test dinges */
 /* details{
   padding-top: 1em;
   background-color: var(--primary-bg-color);
   color: var(--font-color);
 } */

 /* breakpoint voor tablet */
 @media (min-width: 670px) {

   nav > ul > li{
      padding-left: 40px;
      padding-top: 5px;
      font-size: 1.2em;
   }
   nav{
      display: flex;
      height: 6em;
   }
   nav > h1{
      padding-top: 10px;
   }
   section:nth-of-type(1) > p{
      font-size: 1.2em;
 }
}
/* media query voor wat groter scherm */
 @media (min-width: 911px) {

   nav > ul > li{
      padding-left: 60px;
   }
 }
 /* nog groter scherm */
 @media (min-width: 1000px){
   nav > h1{
      color: black;
      background-color: var(--yellow);
      transform: rotate(-90deg);
      width: 100px;
      /* height: 2em; */
   }
   nav{
      /* background-color: var(--primary-bg-color); */
      background-image: linear-gradient(
         var(--primary-bg-color) 98%,
         var(--primary-blog-color) 2%);
      height: 8em;
   }
   nav > ul{
      color: var(--font-color);
      font-size: 1.5em;
   }
 }