:root{
    --yellow: #FFC400;
    --font-color: #ffffff;
    --primary-bg-color: #181A23;
    --primary-blog-color: #212431;
    --secondary-blog-color: #1D1F2A;
 }
 *{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
 }
 nav{
    background-color: var(--yellow);
    height: 7em;
 }
 nav > .GRRR-logo{
    font-weight: bold;
    translate: .5em .5em;
    font-size: 2em;
    color: black;
}
 nav > ul{
    padding: .5em;
    padding-top: 1em;
    translate: 0 1em;
    display: flex;
    justify-content: space-evenly;
 }
 nav > ul > li{
    display: inline;
    display: flexbox;
    color: black;
 }
 nav > ul > li:hover{
   text-decoration: underline;
 }
 header{
    /* background-color: var(--primary-bg-color); */
    background-image: linear-gradient(
     var(--primary-bg-color) 99%,
     var(--primary-blog-color) 1%);
    padding: 1em 1em;
 }
header > h1{
   padding: 1em 0;
 }
 h1, h2{
    color: var(--font-color);
 }
 section:nth-of-type(1){
    background-color: var(--primary-bg-color);
    height: auto;
 }
 section:nth-of-type(1) > h2{
   padding: 1em 1em;
}
 .carousel{
   display: flex;
   overflow: auto;
   width: auto;
   height: 72vh;
 }
 .klik{
      height: 30vh;
      width: auto;
      background-color: var(--primary-blog-color);
      border-radius: 1em;
      color: var(--font-color);
      padding: 2em;
      margin: 1em;
      translate: 0em em;
     list-style: none;
     scroll-snap-align: center;
     flex-grow: 0;
     flex-shrink: 0;
     flex-basis: 76%;
     text-decoration: none;
     transition: 0.4s ease-out;
   }
   .klik:hover{
      translate: 0 -1em;
      transition: 0.4s ease-out;
   }
   .klik:active{
      translate: 0 .5em;
   }
   /* div misschien weghalen? */
 .blog{
    height: 30vh;
    width: auto;
    background-color: var(--primary-blog-color);
    border-radius: 1em;
    color: var(--font-color);
    padding: 2em;
    margin: 1em;
    translate: 0em em;
   list-style: none;
   scroll-snap-align: center;
   flex-grow: 0;
   flex-shrink: 0;
   flex-basis: 76%;
 }

 /* positie van items in de blog */
 .klik > h2{
   padding-top: 1em;
 }
 .klik > p{
   padding-top: 1em;
   padding-bottom: 1em;
 }
 small{
   opacity: .5;
}
/* ---------------------- */
 .carousel-scroll{
   display: flex;
   scroll-snap-type: x mandatory;
   overflow: auto;
   align-items: center;
   scrollbar-width: none;
 }
 .carousel-scroll::-webkit-scrollbar { 
   display: none; 
}


 /* footer styling */
 footer{
    background-color: var(--primary-blog-color);
 }
 footer > p{
    padding: 1em;
    font-size: 14px;
    text-align: center;
    color: var(--font-color);
 }
 footer > p > a{
   color: var(--font-color);
 }
 footer > p > a:hover{
   text-decoration: none;
 }

 /* filter-test dinges */
 /* details{
   padding-top: 1em;
   background-color: var(--primary-bg-color);
   color: var(--font-color);
 } */

 /* breakpoint voor tablet */
 @media (min-width: 670px) {

   nav > ul > li{
      padding-left: 40px;
      padding-top: 5px;
      font-size: 1.2em;
   }
   nav{
      display: flex;
      height: 6em;
   }
   nav > h1{
      padding-top: 10px;
   }
   section:nth-of-type(1) > p{
      font-size: 1.2em;
 }
 /*  */
 .carousel-scroll {
   align-items: center;
   --arrow-size: 40px;
   scroll-behavior: smooth;
  }
  
  .carousel-scroll::before, .carousel-scroll::after {
   display: inline-flex;
   align-items: center;
   justify-content: center;
   position: sticky;
   background: transparent;
   border-radius: 5px;
   box-shadow: 0 0 0 5px rgb(255, 255, 255);
   height: var(--arrow-size);
   flex: 0 0 var(--arrow-size);
   opacity: .4;
   transition: opacity .2s ease-out;
   z-index: 1;
  }
  .carousel-scroll::before {
   content: '<';
   left: 20px;
   margin-right: calc(var(--arrow-size) * -1);
   color: var(--font-color);
  }
  .carousel-scroll::after {
   content: '>';
   right: 20px;
   margin-left: calc(var(--arrow-size) * -1);
   color: var(--font-color)
  }
  .carousel-scroll:hover::before, .carousel-scroll:hover::after, .carousel-scroll:focus::before, .carousel-scroll:focus::after {
   opacity: 1;
  }
  .carousel-scroll:hover::before, .carousel-scroll:hover::after{
   cursor: pointer;
  }
 /*  */
}
/* media query voor wat groter scherm */
 @media (min-width: 911px) {

   nav > ul > li{
      padding-left: 60px;
   }
 }
 /* nog groter scherm */
 @media (min-width: 1000px){
   .GRRR-logo{
      background-color: var(--yellow);
      transform: rotate(-90deg);
      width: 4em;
      padding-top: 1em;
      padding-bottom: 1em;
      height: 1em;
      text-align: center;
   }
   nav{
      /* background-color: var(--primary-bg-color); */
      background-image: linear-gradient(
         var(--primary-bg-color) 99%,
         var(--primary-blog-color) 1%);
      height: 8em;
   }
   nav > ul{
      color: var(--font-color);
      font-size: 1.5em;
   }
   nav > ul > li{
      color: white;
 }
}


/**/


/* .carousel-scroll {
   align-items: center;
   --arrow-size: 40px;
   scroll-behavior: smooth;
  }
  
  .carousel-scroll::before, .carousel-scroll::after {
   display: inline-flex;
   align-items: center;
   justify-content: center;
   position: sticky;
   background: transparent;
   border-radius: 5px;
   box-shadow: 0 0 0 5px rgb(255, 255, 255);
   height: var(--arrow-size);
   flex: 0 0 var(--arrow-size);
   opacity: .4;
   transition: opacity .2s ease-out;
   z-index: 1;
  }
  .carousel-scroll::before {
   content: '<';
   left: 20px;
   margin-right: calc(var(--arrow-size) * -1);
   color: var(--font-color);
  }
  .carousel-scroll::after {
   content: '>';
   right: 20px;
   margin-left: calc(var(--arrow-size) * -1);
   color: var(--font-color)
  }
  .carousel-scroll:hover::before, .carousel-scroll:hover::after, .carousel-scroll:focus::before, .carousel-scroll:focus::after {
   opacity: 1;
  }
  .carousel-scroll:hover::before, .carousel-scroll:hover::after{
   cursor: pointer;
  }


  .klik::after{
   content: 'Read more';
  } */