:root{
   --yellow: #FFC400;
   --font-color: #ffffff;
   --primary-bg-color: #181A23;
   --primary-blog-color: #212431;
   --secondary-blog-color: #1D1F2A;
}
*{
   margin: 0;
   padding: 0;
   font-family: sans-serif;
}
nav{
   background-color: var(--yellow);
   display: flexbox;
   height: 7em;
}
nav > h1{
   font-weight: bold;
   translate: .5em .5em;
   font-size: 2em;
   
}
nav > ul{
   padding: .5em;
   padding-top: 1em;
   translate: 0 1em;
}
nav > ul > li{
   display: inline;
   padding-left: 10px;
   display: flexbox;
}
section:nth-of-type(1){
   background-color: var(--primary-bg-color);
   padding: 1em 1em;
}
p{
   color: var(--font-color);
}
section:nth-of-type(2){
   background-color: var(--primary-bg-color);
   height: 65vh;
}
.blog{
   height: 40vh;
   background-color: var(--primary-blog-color);
   border-radius: 1em;
   color: var(--font-color);
   padding: 2em;
   margin: 0 2em;
   translate: 0em 5em;
}
footer{
   background-color: var(--primary-blog-color)
}
footer > p{
   padding: 1em;
   font-size: 14px;
}